<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start and end time for plot</title>
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        <h4> Please type in the time range in which data you are interested.
            Format: YYYY-MM-DD HH:MM
        </h4>
        {{ form.as_p }}
        <input type="Submit" name="submit" value="Submit"/>
    </form>
{% if submit_button == "Submit" %}
<h4> Plot with data from {{ start }} to {{ end }}</h4>
    <img src="data:image/>png;base64,{{ data }}" alt="" height="500", width="750">
{% endif %}

</body>
</html>